.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor; }

.icon-designer {
  font-size: 10rem;
  width: 0.9081em; }

.icon-facebook {
  font-size: 10rem;
  width: 1em; }

.icon-finger {
  font-size: 10rem;
  width: 0.9542em; }

.icon-folder {
  font-size: 6.8729rem;
  width: 1.45499em; }

.icon-instagram {
  font-size: 10.0073rem;
  width: 0.99927em; }

.icon-iso {
  font-size: 8.2236rem;
  width: 1.21601em; }

.icon-letter {
  font-size: 7.6471rem;
  width: 1.30769em; }

.icon-logo {
  font-size: 4.3392rem;
  width: 4.60914em; }

.icon-logo_square {
  font-size: 7.7rem;
  width: 1em; }

.icon-pig {
  font-size: 3.4908rem;
  width: 0.77787em; }

.icon-pyramid {
  font-size: 8.7152rem;
  width: 1.14742em; }

.icon-skype {
  font-size: 9.9999rem;
  width: 1.00001em; }

.icon-square {
  font-size: 10.0002rem;
  width: 0.99998em; }

.icon-truck {
  font-size: 11.3791rem;
  width: 1.31821em; }

.icon-uparr {
  font-size: 3.4rem;
  width: 0.70588em; }

.icon-vkontakte {
  font-size: 10rem;
  width: 1em; }

.icon-watch {
  font-size: 11.4968rem;
  width: 0.86981em; }
